/*body {
  padding-top: 100px;
}*/

#navbar-gap {
  margin-top: -4%;

}


.product-image {
  width: 100%;
}

/* Move down content because we have a fixed navbar that is 3.5rem tall */
body {
  padding-top: 3.5rem;
}